<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
    <title>Django CRUD application!</title>
</head>
<body>
<div class="container">

    <H1 align="center">Publisher List! </H1>
    <table width="100%">
        <tr>
            <td> Publisher ID</td>
            <td> Author</td>
            <td>Book</td>
            <td>Address</td>
            <td>City</td>
            <td> State_Province</td>
            <td>Country</td>

        </tr>
        {% for publisher in object_list %}

            <tr>
                <td><a href="{% url "publisher:update_publisher" publisher.id %}">{{ publisher.id }}</a>
                </td>

                <td> {{ publisher.Author }} </td>
                <td>{{ publisher.Book }} </td>
                <td> {{ publisher.address }} </td>
                <td> {{ publisher.city }} </td>
                <td> {{ publisher.state_province }} </td>
                <td> {{ publisher.country }} </td>
                <td><a href="{% url "publisher:delete_publisher" publisher.id %}">Delete</a></td>
            </tr>
        {% endfor %}
    </table>

    <a href="{% url "publisher:create_publisher" %}">New Publisher entry</a>
</div>
</body>
</html>

